// @media only screen and (max-width:1200px ) {
//     .home{
//         .home-center{
//            width: 100%;
//         }
//     }
// }

// @media only screen and (min-width:1200px ) {
    .home{
        height: 100%;
        position: relative;
        #home-canvas{
            height: 960px;
            width: 100%;
        }
        .home-center{
            width: 1170px;
            height: 600px;
            border-radius: 4px;
            box-shadow: @box-shadow-base;
            display: flex;
            justify-self: start;
            background-color: #fff;
            position: absolute;
            top: 50%;
            margin-top: -300px;
            right: 50%;
            margin-right: -585px;
        }
        .home-sidebar{
            width: 100px;
            height: 100%;
            border-radius: 4px;
            background-color: #f8e9e9;
        }
        .home-sidebar-item{
            height: 130px;
            text-align: center;
            display: flex;
            flex-flow: column;
            justify-content: center;
            border-bottom: 1px solid #ccc4;
            &:first-child{
                height: 210px;
                align-items: center;
            }
        }
        .home-sidebar-logo-container{
            width: 68px;
            height:68px;
            padding: 10px;
            border: 1px solid #ccc4;
            border-radius: 50%;
            animation:rotate 5s linear infinite;
            cursor: pointer;
        }

        @keyframes rotate {
            0%{transform:rotate(0deg);}
            25%{transform:rotate(90deg);}
            50%{transform:rotate(180deg);}
            75%{transform:rotate(270deg);}
            100%{transform:rotate(360deg);}
        }

        .home-sidebar-logo{
            width: 48px;
            height:48px;
            border-radius: 50%;
            background-image: url('./images/logo.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .home-sidebar-icon{
            color: #838383;
            cursor: pointer;
        }
        .home-sidebar-name{
            padding: 10px 0;
            cursor: pointer;
            color: #000000A6;
        }
        .home-content{
            background-image: url('./images/background.jpg');
            width: 1050px;
            margin-left: 20px;
            border-radius: 4px;
        }
        .home-header{
            width: 160px;
            height: 160px;
            background-color: #eee;
            padding: 5px;
            border-radius: 50%;
            margin: 80px auto 25px auto;
        }
        .home-header-img{
            width: 100%;
            height: 100%;
            background-color: #000;
            border-radius: 50%;
        }
        .home-author{
            text-align: center;
            font-weight: 500;
            color: #222;
        }
        .home-typing-title{
            margin-right: 2px;
        }
        .home-typing-content{
            font-weight: bold;
            color: #000;
        }
        .home-typing-input{
            margin-left: 2px;
        }
    }
// }